
#boss {
    padding-top: 250px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.administration {
    padding: 15px 200px 15px 200px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
}

.admin_img {
    height: 235px;
    width: 250px;
    border-radius: 50%;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.admin_title {
    color: rgb(175, 22, 22);
    font-weight: bold;
    
}



@media screen and (max-width: 1000px) {
    #boss {
        padding-top: 100px;
    }
    .administration {
        padding: 15px 25px 15px 25px;
        font-size: 14px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .admin_img {
        height: 135px;
        width: 150px;
    }
}