
.table {
    padding: 220px 200px 20px 200px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

th {
    width: 20%;
}

.admin_doc {
    padding: 20px 200px 20px 200px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 1450px) {
    .table {
        padding: 220px 20px 20px 20px;
     }
     
}


@media screen and (max-width: 500px) {
    .table {
        padding: 120px 20px 20px 20px;
        font-size: 12px;
     }
     .admin_doc {
        padding: 20px 20px 20px 20px;
        font-size: 14px;
     }
     
}