
.table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 280px 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

@media screen and (max-width: 1300px) {
.table {
    font-size: 16px;
    padding: 250px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
}


@media screen and (max-width: 1000px) {
.table {
    font-size: 14px;
    padding: 150px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
}

@media screen and (max-width: 500px) {
.table {
    font-size: 12px;
    padding: 100px 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
}