

.corruption {
    font-family: 'Roboto', sans-serif;
    padding: 210px 150px 20px 150px;
    font-size: 20px;
    text-align: justify;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.corruption_title {
    color: red;
    font-weight: 700;
}

.disp_doctors_mobile {
    display: none;
}

.table_reference {
    padding: 20px 50px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    .corruption {
        font-family: 'Roboto', sans-serif;
        padding: 130px 20px 20px 20px;
        font-size: 14px;
    }

    .table_reference {
        padding: 10px 10px;
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {
    .disp_doctors_mobile {
        display: block;
    }
    .disp_doctors{
        display: none;
    }
}