.text {
    padding: 250px 70px 20px 70px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: justify;
    display: flex;
    flex-direction: column;
   
}

.history_images {
    float: left;
}

img {
    width: 500px;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    .text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 130px 20px 20px 20px;
        font-size: 14px;
    }

    img {
        width: 100%;
    }
}