
.ideologia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 200px 150px 20px 150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: justify;
 
}

.flag {
    width: 250px;
    height: 150px;
}

.gerb {
    width: 250px;
}

.ideologia_info {
    padding-left: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    .ideologia {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 130px 20px 20px 20px;
        font-size: 15px;
    }
    .flag {
        width: 150px;
        height: 80px;
    }
    .gerb {
        width: 150px;
    }
}