/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.profcom {
    padding: 150px 150px 30px 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.letter {
    font-weight: 300px;
    font-size: 18px;
    text-align: justify;
}

.head {
    padding-top: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.head_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.head_img, .prof_logo {
    height: 250px;
    width: 250px;

}

table {
    width: 100%;
    font-size: 18px;
    text-align: center  ;
    
}

th {
    width: 20%;
}

.profcom_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 18px;
    padding: 20px 150px 20px 150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.head_images_mobile {
    display: none;
}

@media screen and (max-width: 1500px) {
    .profcom {
        font-size: 18px;
        padding: 150px 100px 30px 100px;
    }
    .letter {
        font-size: 15px;
    }
    table {
        font-size: 15px;
    }
    .profcom_links {
        font-style: 15px;
        padding: 20px 100px 20px 100px;
    }
}


@media screen and (max-width: 1000px) {
    .profcom {
        font-size: 15px;
        padding: 100px 20px 30px 20px;
    }
    .letter {
        font-size: 13px;
    }
    table {
        font-size: 13px;
    }
    .profcom_links {
        font-style: 13px;
        padding: 20px 20px 20px 20px;
    }
    .head_img, .prof_logo {
        height: 150px;
        width: 150px;
    
    }
}


@media screen and (max-width: 500px) {
    .head_images {
        display: none;
    }
    .head_images_mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
       
        -webkit-box-pack: center;
       
            -ms-flex-pack: center;
       
                justify-content: center;
    }
}