
.servises {
    padding: 220px 150px 20px 150px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: justify;
}
.definitions {
    display: block;
}

.servises_title, b {
    color: darkred;
    font-weight: 700;
}

td, th {
    width: 15%;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .servises {
        font-size: 14px;
        padding: 120px 10px 20px 10px;
    }
    td, th {
        width: 15%;
        text-align: center;
        font-size: 12px;
    }
}