/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;

}

 a {
  
    text-decoration: none;
} 

a:visited {
    color: rgba(26, 30, 243, 0.6); /* Цвет посещенных ссылок */
   }
   /* a:active {
    color: blue; /* Цвет активных ссылок 
   } */

a:hover {
    color: rgb(88, 88, 226);
}

header {
    height: 190px;
    width: 100%;
    padding: 0 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: fixed;
    background-color: rgba(218, 214, 214, 0.9);
}

.logo {
    width: 390px;
    height: 190px;
}

.logo_small {
    display: none;
}

.links {
    padding-top: 40px;
    overflow: hidden;
    cursor: pointer;
}

.link {
    float: right;
    font-size: 18px;
    color: #fffbfb;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    border-left: 1px solid #5b5d65;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    padding-top: 3px;
    background-color: rgba(0, 0, 0, 0.6);
    padding-right: 5px;
    border-bottom: 1px solid white;
  
}

.link:hover {
    color: rgb(88, 88, 226);
}

.dropdown {
    overflow: hidden;
    float: right;
}

#contact {
    color: #5b5d65; 
}

#contact:hover {
    color: rgb(88, 88, 226);
}

.drop_btn {
    border: none;
    font-size: 24px;
    outline: none;
    background-color: inherit;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #5b5d65;
    border-left: 1px solid #5b5d65;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.dropdown_content {
    display: none;
    position: absolute;
    z-index: 1;
    /* background-color: rgba(255, 255, 255, .6); */
  
}

.dropdown_content a {
    float: none;
    display: block;
    font-size: 18px;
    padding-top: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.dropdown_content a:hover {
    background-color: #ddd;
    padding: 5px 0;
    padding-right: 5px;
}

.dropdown:hover .dropdown_content {
   display: block;
}

.menu {
    display: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #404040;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
    outline: none;
    
  
    
}

.line {
    height: 2px;
    width: 30px;
    background-color: #404040;
    position: relative;
}

.line::after{
    content: '';
    height: 2px;
    width: 30px;
    background-color: #404040;
    position: absolute;
    left: 0;
    top: 8px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    
}

.line::before{
    content: '';
    height: 2px;
    width: 30px;
    background-color: #404040;
    position: absolute;
    left: 0;
    bottom: 8px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.menu:hover > .line {
    background: transparent;
}

.chb:checked + .line {
    background-color: transparent;
}

.chb:checked + .line::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
}

.chb:checked +.line::before {
    bottom: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.chb {
    display: none;
    
}

.chb:checked ~ .dropdown_vert {
    height: 400px;
    width: 400px;
    overflow-y: scroll;
   

}

.dropdown_vert {
    height: 0;
    width: 0;
    position: absolute;
    background-color:  rgb(22, 22, 22);
    left: 78px;
    top: 20px;
    -webkit-transition: .8s ease-in-out;
    -o-transition: .8s ease-in-out;
    transition: .8s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 10px;
    /* overflow: hidden; */
    overflow-y: scroll;
    white-space: nowrap;
}

.menu:hover > .dropdown_vert_content {
    display: block;
    background-color: rgb(204, 203, 209);
    margin: 200px 0 0 80px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
}

.dropdown_vert_content:hover > .link {
    /* background-color: red; */
    padding: 5px 0;
    margin-bottom: 2px 0;
    border-bottom: 1px solid black;
}

.menu:hover > .line::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
}

.menu:hover> .line::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 0;
}

.banner {
    width: 100%;
    height: 1000px;
    background-image: url(../images/banner.JPG); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;    
}

.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 70px;
    font-weight: bold;
    color: #f9fbfc;
    padding: 250px 220px 70px 220px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    
}

.info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 220px;
    font-size: 35px;
    color: #f9fbfc;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.info_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info_hotLine {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    
}

.info_hotLine a {
    color:  rgba(26, 30, 243, 0.911);
}

.info_img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.info_img:hover {
    height: 38px;
    width: 38px;  
    background-color: rgba(88, 88, 226, .3);;
}


.tel {
    color: #f9fbfc;
}

.working_hours {
    width: 100%;
    height: 100%;
    padding: 10px 220px 20px 220px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}

.working_hours_main {
    font-size: 30px;
    color: #404040;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}



.service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 200px;
}

.circle  {
    width: 240px;
    height: 240px;
    background-color: rgba(224, 219, 219, 0.8);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 19px;
    text-transform: uppercase;
    color: white;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    -webkit-box-shadow: 2px 4px 5px rgba(0, 0, 0, .6);
            box-shadow: 2px 4px 5px rgba(0, 0, 0, .6);
    margin-left: 10px;
    -webkit-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
  
}

.circle a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}

.circle:hover {
    width: 250px;
    height: 250px;
    /* background-color: rgb(160, 151, 149, 1); */
    -webkit-box-shadow: 0 0 10px 0  rgb(88, 88, 226) inset, 0 0 10px 4px  rgb(117, 117, 241);
            box-shadow: 0 0 10px 0  rgb(88, 88, 226) inset, 0 0 10px 4px  rgb(117, 117, 241);
    
}

.circle_text {
    font-size: 15px;
}

.circle_title {
    text-align: center;
}

.news {
    padding: 20px 300px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-family: 'Oswald', sans-serif;
    text-align: justify;
}

.news_body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    align-items: center;
}

.news_img {
    width: 300px;
    height: 100%;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.news_video {

}

footer {
    height: 100px;
    background-color: rgba(255, 255, 255, .6);
    float: right;
    padding: 20px 120px;
    
}

.footer_img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.footer_img:hover {
    width: 55px;
    height: 55px;
   
}

@media screen and (max-width: 1600px) {
    .logo {
        width: 250px;
        height: 130px;
    }

    header {
        padding: 0 30px;
    }
    .link {
        font-size: 18px;
    }
    .news_img {
        width: 250px;  
    }
    .table {
        padding: 250px 150px;
        font-size: 20px;
    }

    .info {
        font-size: 30px;
    }

}

@media screen and (max-width: 1430px) {

    .title {
        font-size: 50px;
    }

    .info {
        font-size: 25px;
        padding: 0 150px;
    }

    .info_img {
        height: 25px;
        width: 25px;
    }

    .info_img:hover {
        height: 29px;
        width: 29px;  
    }

    .banner {
        height: 700px;
    } 
    .circle {
        width: 200px;
        height: 200px;
        font-size: 17px;
    }
    .circle:hover {
        width: 210px;
        height: 210px;
    }
    .news {
        font-size: 14px;
    }
}

@media screen and (max-width: 1325px) {
    .logo {
        width: 200px;
        height: 110px;
    }

    .working_hours {
        font-size: 18px;
    }

    .working_hours_main {
        font-size: 22px;
    }


    .service {
        padding: 50px 50px;
    }

    .circle:hover {
        width: 180px;
        height: 180px;
    }

    .circle_text {
        font-size: 12px;
    }

    .title {
        font-size: 40px;
    }
    .info {
        font-size: 20px;
    }

    .info_img {
        height: 20px;
        width: 20px;
    }

    .info_img:hover {
        height: 24px;
        width: 24px;  
    }

    header {
        padding: 0 20px;
    }

    .drop_btn {
        font-size: 19px;
    }

    .news {
        padding: 20px 100px;
    }

    .news_img {
        width: 200px;  
    }
}

@media screen and(max-width: 1100px) {
    header {
        padding: 0 10px;
    }
    .drop_btn {
        font-size: 15px;
    }
}

@media screen and (max-width: 1030px) {
    .working_hours {
        padding: 10px 20px;
    }

    .service {
        padding: 20px 20px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .title {
        font-size: 30px;
        padding: 130px 20px 20px 20px;
    }
    .info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0 20px
    }
    .links {
        display: none;
    }

    header {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        height: 120px;
        
    }
    .banner {
        height: 500px;
    }
    .news {
        padding: 10px 10px;
        font-size: 12px;
    }
    
    .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .logo {
        display: none;
    }
    .logo_small {
        display: block;
        height: 80px;
        width: 160px;
    }
    .circle {
        width: 140px;
        height: 140px;
        font-size: 12px;
        margin-bottom: 7px;
    }
    
    .circle:hover {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 675px) {
    .circle {
        width: 130px;
        height: 130px;
        font-size: 11px;
        margin-bottom: 7px;
    }
    
    .circle:hover {
        width: 140px;
        height: 140px;
    }

    .info_main {
        flex-direction: column;
        text-align: center;
    }

    .info_hotLine {
        text-align: center;
        padding-top: 10px;
    }
}

@media screen and (max-width: 500px) {
    .link {
        font-size: 14px;
   
    }

    .chb:checked ~ .dropdown_vert {
        width: 300px;
        height: 530px;
        
        
    }

    .dropdown_vert {
        left: 10px;
        top: 10px;
             
    }
    .title {
        font-size: 18px;
        padding: 100px 20px 20px 20px;
    }

    .working_hours {
        padding-top: 60px;
    }
    
    .info {
        font-size: 15px;
    }

    .info_img {
        height: 15px;
        width: 15px;
    }

    .info_img:hover {
        height: 19px;
        width: 19px;  
    }

    .banner {
        height: 350px;
    }
    .circle {
        width: 120px;
        height: 120px;
        font-size: 10px;
        margin-bottom: 5px;
    }

    .circle_text {
        font-size: 9px;
    }

    .circle:hover {
        width: 105px;
        height: 105px;
    }

    .service {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 20px 0;
    }
    .logo {
        height: 84px;
        width: 60px;
    }
    header {
        height: 90px;
        padding-left: 5px;
        padding-right: 15px; 
    }
    footer {
        padding: 20px 20px;
    }

    .news {
        font-size: 14px;
    }
    .news_body {
        
        -webkit-box-orient: vertical;
        
        -webkit-box-direction: normal;
        
            -ms-flex-direction: column;
        
                flex-direction: column;
    }

    .table {
        padding: 250px 10px;
        font-size: 10px;
    }
}